<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>welcome HRD.</h1>
    <a href="/hrd">HOME</a> | <a href="/hrd/rekap">REKAP</a> | <a href="/hrd/list_karyawan"></a> | <a href="/logout" style="color:red">LOGOUT</a>
  </body>
</html>
