<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>absen datang</h1>
    <form action="/absensi/absen" method="post">
      <!-- <input type="text" name="jam_datang" value="" placeholder="jam datang"> -->
      <input type="text" name="KaryawanId" value="" placeholder="ID karyawan">
      <button type="submit" name="submit">submit</button>
    </form>
    <br>
    <h1>absen pulang</h1>
    <form action="/absensi/absenpulang" method="post">
      <!-- <input type="text" name="jam_pulang" value="" placeholder="jam pulang"> -->
      <input type="text" name="KaryawanIdPulang" value="" placeholder="ID karyawan">
      <button type="submit" name="submit">submit</button>
    </form>
  </body>
</html>
