<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>welcome pimpinan.</h1>
    <a href="/pimpinan">HOME</a> | <a href="/pimpinan/rekap">REKAP</a> | <a href="/logout" style="color:red">LOGOUT</a>
  </body>
</html>
